.sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sansation-regular {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansation-light-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sansation-regular-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansation-bold-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/164/392/original/pexels-takakatsuhonda-31782382.jpg?1745932833");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.weather-app {
  background-color: pink;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
a {
  color: darkmagenta;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background-color: blueviolet;
  padding: 15px 20px;
  margin-left: 5px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.6);
  font-weight: 400;
}
.weather-app-details strong {
  color: darkorchid;
}

.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  font-size: 88px;
  height: 88px;
}

.weather-app-temperature-value {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}
.weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.6);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: darkorchid;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
}
